#+LATEX_CLASS: koma-article
#+LATEX_CLASS_OPTIONS: [letterpaper, 12pt]
#+LANGUAGE: fr

#+OPTIONS: toc:nil date:nil


#+LATEX_HEADER: \usepackage[french]{babel}
#+LATEX_HEADER: \setlength{\parindent}{0pt}
#+LATEX_HEADER: \usepackage{parskip}
#+LATEX_HEADER: \usepackage{caption}
#+LATEX_HEADER: \usepackage[left=0.5in,right=0.5in,top=0.5in,bottom=0.5in]{geometry}
#+LATEX_HEADER: \usepackage[table]{xcolor}
#+LaTeX_HEADER: \usepackage{alltt}
#+LaTeX_HEADER: \usepackage{upquote}
#+LaTeX_HEADER: \usepackage{microtype}


#+LATEX_HEADER: \newcommand{\fbl}{\rowcolor{blue} \color{white} }
#+LATEX_HEADER: \newcommand{\frg}{\rowcolor{red} \color{white} } 
#+LATEX_HEADER: \newcommand{\fjn}{\cellcolor{yellow}}
#+LATEX_HEADER: \newcommand{\cbc}{\color{white}}


