#+STARTUP: beamer
#+LaTeX_CLASS:  beamer
#+LATEX_HEADER: \usepackage[dvipsnames]{xcolor}
#+LATEX_HEADER: \usepackage{caption}
#+LATEX_HEADER: \usepackage[table]{xcolor}
#+LATEX_HEADER: \usepackage{xcolor,fvextra}
#+LATEX_HEADER: \usepackage{tcolorbox}
#+LATEX_HEADER: \usepackage{multicol}\columnseprule 1pt
#+LATEX_HEADER: \usepackage{upquote}
#+LATEX_HEADER: \usepackage{etoolbox}
#+LATEX_HEADER: \usepackage{listings}
# #+LATEX_HEADER: \usepackage{MnSymbol}
#+LATEX_HEADER: \usepackage{xcolor}
#+LATEX_HEADER: \usepackage{amssymb,amsmath}
# #+LATEX_HEADER: \usepackage[utf8]{inputenc}
#+LATEX_HEADER: \usepackage{babel}
# #+LATEX_HEADER: \usepackage[T1]{fontenc}
#+LATEX_HEADER: \usepackage{textcomp}
#+LATEX_HEADER: \usepackage{fontspec}
#+LATEX_HEADER: \usepackage{setspace}


#+LATEX_HEADER: \makeatletter
#+LATEX_HEADER: \setbeamertemplate{itemize item}{\textbullet}
#+LATEX_HEADER: \setbeamertemplate{itemize subitem}{\raise0.2ex\hbox{$\blacktriangleright$}}
#+LATEX_HEADER: \setbeamertemplate{itemize subsubitem}{\raise0.2ex\hbox{$\blacksquare$}}

% Espacement AVANT/APRÈS chaque (sous-)liste + itemsep par niveau
#+LATEX_HEADER: \addtobeamertemplate{itemize/enumerate body begin}{\vspace{10pt}\setlength{\itemsep}{12pt}}{}
#+LATEX_HEADER: \addtobeamertemplate{itemize/enumerate body end}{}{\vspace{10pt}}
#+LATEX_HEADER: \addtobeamertemplate{itemize/enumerate subbody begin}{\vspace{6pt}\setlength{\itemsep}{7pt}}{}
#+LATEX_HEADER: \addtobeamertemplate{itemize/enumerate subbody end}{}{\vspace{6pt}}
#+LATEX_HEADER: \addtobeamertemplate{itemize/enumerate subsubbody begin}{\vspace{4pt}\setlength{\itemsep}{4pt}}{}
#+LATEX_HEADER: \addtobeamertemplate{itemize/enumerate subsubbody end}{}{\vspace{4pt}}
#+LATEX_HEADER: \makeatother


#+LATEX_HEADER: \lstset{%
#+LATEX_HEADER:   numbers=left,%
#+LATEX_HEADER:   numberstyle=\tiny,%
#+LATEX_HEADER:   numbersep=5pt,%
#+LATEX_HEADER:   numberblanklines=false,%
#+LATEX_HEADER:   basicstyle=\small,%
#+LATEX_HEADER:   columns=flexible,%
# #+LATEX_HEADER:   prebreak=\raisebox{0ex}[0ex][0ex]{\ensuremath{\rhookrightarrow}},%
# #+LATEX_HEADER:   postbreak=\raisebox{0ex}[0ex][0ex]{\ensuremath{\rcurvearrowse\space}},%
#+LATEX_HEADER:   prebreak=\raisebox{0ex}[0ex][0ex]{\ensuremath{\hookrightarrow}},%
#+LATEX_HEADER:   postbreak=\raisebox{0ex}[0ex][0ex]{\ensuremath{\rightsquigarrow\ }},%
#+LATEX_HEADER:   breaklines=true,%
#+LATEX_HEADER:   breakatwhitespace=true,%
#+LATEX_HEADER:   keepspaces=true,%
# #+LATEX_HEADER:   showspaces=true,%
#+LATEX_HEADER:   captionpos=t,%
#+LATEX_HEADER:   showstringspaces=false,%
#+LATEX_HEADER:   frame=single,%
#+LATEX_HEADER:   rulecolor=\color{blue},%
#+LATEX_HEADER:   xleftmargin=0.5cm,%
#+LATEX_HEADER:   xrightmargin=0.5cm%
#+LATEX_HEADER: }

#+LATEX_HEADER:   \lstdefinestyle{pythonStyle}{
#+LATEX_HEADER:     basicstyle=\ttfamily\small,
#+LATEX_HEADER:     language=Python,
#+LATEX_HEADER:     frame=single,
#+LATEX_HEADER:     keywordstyle=\color{blue}\bfseries
# #+LATEX_HEADER:     inputencoding=utf8,
# #+LATEX_HEADER:     extendedchars=true,
#+LATEX_HEADER:     literate={é}{{\'e}}1
#+LATEX_HEADER:              {è}{{\`e}}1
#+LATEX_HEADER:              {ê}{{\^e}}1
#+LATEX_HEADER:              {ë}{{\"e}}1
#+LATEX_HEADER:              {à}{{\`a}}1
#+LATEX_HEADER:              {â}{{\^a}}1
#+LATEX_HEADER:              {ä}{{\"a}}1
#+LATEX_HEADER:              {î}{{\^i}}1
#+LATEX_HEADER:              {ï}{{\"i}}1
#+LATEX_HEADER:              {ô}{{\^o}}1
#+LATEX_HEADER:              {ù}{{\`u}}1
#+LATEX_HEADER:              {ü}{{\"u}}1
#+LATEX_HEADER:              {û}{{\^u}}1
#+LATEX_HEADER:              {ç}{{\c{c}}}1
#+LATEX_HEADER:              {É}{{\'E}}1
#+LATEX_HEADER:              {È}{{\`E}}1
#+LATEX_HEADER:              {Ê}{{\^E}}1
#+LATEX_HEADER:              {Ë}{{\"E}}1
#+LATEX_HEADER:              {À}{{\`A}}1
# #+LATEX_HEADER:              {Â}{{\^A}}1
# #+LATEX_HEADER:              {Ä}{{\¨A}}1
#+LATEX_HEADER:              {Î}{{\^I}}1
#+LATEX_HEADER:              {Ï}{{\"I}}1
#+LATEX_HEADER:              {Ô}{{\^O}}1
#+LATEX_HEADER:              {Ù}{{\`U}}1
# #+LATEX_HEADER:              {Ü}{{\"U}}1
# #+LATEX_HEADER:              {Û}{{\^U}}1
#+LATEX_HEADER:              {Ç}{{\c{C}}}1
#+LATEX_HEADER:   }



#+LANGUAGE:  fr


\tolerance 1414
\hbadness 1414
\emergencystretch 1.5em
\hfuzz 0.3pt
\widowpenalty=10000
\vfuzz \hfuzz
\raggedbottom

#+COLUMNS: %40ITEM %10BEAMER_env(Env) %9BEAMER_envargs(Env Args) %4BEAMER_col(Col) %10BEAMER_extra(Extra)

#+LATEX_HEADER: \newcommand{\col}[2]{\begin{column}[#2]{#1\textwidth} }
#+LATEX_HEADER: \newcommand{\colDebut}{\begin{columns}}
#+LATEX_HEADER: \newcommand{\colFin}{\end{column}}
#+LATEX_HEADER: \newcommand{\colFins}{\end{columns}}

#+LATEX_HEADER: \newcommand{\colG}[2][0.40]{\colDebut \col{#1}{#2} }
#+LATEX_HEADER: \newcommand{\colD}[2][0.50]{\colFin \col{#1}{#2} }
#+LATEX_HEADER: \newcommand{\colF}{\colFin \colFins }
#+LATEX_HEADER: \newcommand{\colT}[1]{\textbf{#1}}


#+LATEX_HEADER: \newcommand{\fbl}{\rowcolor{blue} \color{white} }
#+LATEX_HEADER: \newcommand{\frg}{\rowcolor{red} \color{white} } 
#+LATEX_HEADER: \newcommand{\fjn}{\cellcolor{yellow}}
#+LATEX_HEADER: \newcommand{\cbc}{\color{white}}


#+LATEX_HEADER: \setbeamercolor{Bleu}{bg=BlueGreen,fg=white}
#+LATEX_HEADER: \setbeamercolor{Jaune}{bg=GreenYellow,fg=black}
#+LATEX_HEADER: \setbeamercolor{Rouge}{bg=Red!30,fg=black}

# Encadré pour le code source

#+LATEX_HEADER: \newenvironment{code}[1][8]{%
#+LATEX_HEADER: \hfill\hfill\begin{beamercolorbox}[wd=#1 cm,rounded=true,dp=1ex]{Bleu}%
#+LATEX_HEADER: }{\end{beamercolorbox}\hfill\hfill}

# Encadré pour les remarques

#+LATEX_HEADER: \newenvironment{remarque}[1][8]{%
#+LATEX_HEADER: \hfill\hfill\begin{beamercolorbox}[sep=4pt,wd=#1cm,rounded=true,dp=1ex]{Rouge}}{%
#+LATEX_HEADER: \end{beamercolorbox}\hfill\hfill}

# Option pour définir la largeur des encadrés
#+MACRO: option #+attr_latex: :options [$1]

#+BEAMER_THEME: Madrid [height=12pt]
\useinnertheme{circles} 





